
body{
  background-color: #FFF5EB;
}

hr{
  background-color: #FFF5EB;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%
}
img{

  height: 300px;
  width: 300px;
  border: 0px;
}
